<div class="min-h-screen bg-gray-50 p-8 flex justify-center">
  <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg h-fit">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">📂 Nuevo Departamento</h2>
    <form (ngSubmit)="guardar()">
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">1. Selecciona Empresa</label>
        <select [(ngModel)]="empresaTemp" (change)="onSelectEmpresa()" name="empresa" class="w-full border p-2 rounded bg-white">
            <option *ngFor="let e of empresas" [value]="e.id">{{ e.razon_social }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">2. Selecciona Sucursal</label>
        <select [(ngModel)]="depto.sucursal" name="sucursal" class="w-full border p-2 rounded bg-white" required [disabled]="!empresaTemp">
            <option *ngFor="let s of filteredSucursales" [value]="s.id">{{ s.nombre }}</option>
        </select>
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">Nombre Departamento</label>
        <input [(ngModel)]="depto.nombre" name="nombre" type="text" class="w-full border p-2 rounded" placeholder="Ej. RRHH" required>
      </div>
      
      <div class="flex justify-end gap-3">
        <button routerLink="/empresas" type="button" class="text-gray-500 hover:text-gray-700 font-bold px-4">Cancelar</button>
        <button type="submit" class="bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-600">Guardar</button>
      </div>
    </form>
  </div>
</div>